.login-card{
    background-color:#4FA2EC;
    height: 700px;
    width: 551px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.login-content-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

.login-content-in a{
    color: #B5FBFF;
    text-decoration: underline;
}

.login-content-in h6{
    color: #fff;
    padding-top: 15px;
}

.login-content-in h3{
    color: #fff;
    font-size: 48px;
    font-weight: 300;
}

.btn-user button{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #70C1FC;
    border-radius: 60px;
    box-shadow: black;
    border: none;
    padding: 5px 22px 5px 22px;
    box-shadow: 3px 4px 8px #296078;
}

.btn-empresa button{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: #70C1FC;
    border-radius: 60px;
    box-shadow: black;
    border: none;
    padding: 5px 22px 5px 22px;
    box-shadow: 3px 4px 8px #296078;
}

.btn-empresa button:hover{
    background-color: #377fb2;
}

.btn-empresa button:active{
    transform: scale(0.98);
}


.btn-user button:hover{
    background-color: #377fb2;
}

.btn-user button:active{
    transform: scale(0.98);
    
}

.btns-usuario-empresa{
    display: flex;
}

.btn-user{
    padding: 20px 10px 20px 10px;
    margin: 0 10px;
}
.btn-empresa{
    padding: 20px 10px 20px 10px;
    margin: 0 10px;
}


.esqueceu-senha{
    padding-left: 20px;
}

.login-content-in a:hover{
    color: rgb(248, 254, 255);
    text-decoration: underline;
}

.email, .senha, .nome{
    padding: 10px;
}

.login-form input{
    display: flex;
    flex-direction: column;;
    border: 1px solid #ffff;
    border-radius: 50px;
    background-color: transparent;
    height: 63px;
    width: 451px;
    color: #fff;
    padding-left: 15px ;
} 

.login-form ::placeholder{
    color: #ffffff9f;    
    font-size: 20px;
} 

.btn-login-form{
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.btn-login-form button{
    background-color: #2681D6;
    border: none;
    color: #fff;
    border-radius: 10px;
    height: 58px;
    width: 277px;
    font-weight: bold;
    font-size:24px;
}

.btn-login-form button:hover{
    background-color: #1c5a94b5;
}

.btn-cad-login-qss{
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container{
    display: flex;
    justify-content: right;
    padding-top: 40px;
    padding-right: 70px;
}