header{
    background-color: #fff;
    height: 10vh;

    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo{
    width: 180px;
}

header a {
    margin-left: 30px;
    transition: 0.2s;
    font-weight: 500;
  }
  header a:hover {
    color: #DBF227;
  }
  header span {
    width: auto;
    padding: px 6px;
    background: #DBF227;
    border-radius: 50px;
    color: #ffffff;
    margin-right: 4px;
    font-weight: 400;
  }
  header h4 {
    font-weight: 500;
    margin-right: 20px;
  }
  header .toggle {
    display: none;
  }

  .nav{
    display: flex;
    justify-content: center;
  }

  .btn1:hover{
    background-color: hsl(205, 100%, 66%);
  }

  .btn1:active{
    transform: scale(0.98);  
  }

